/*Text and Images*/

p {
  color: #FF8C00;
  font-family: nunito-regular;
}

h1 {
   color: OrangeRed;
   font-family: feather-bold;
}

body {
    position: relative; /* Makes the body the reference point */
}

#logo {
    position: absolute;
    top: 10px;
    right: 10px;
}

#logo img {
    width: 250px;
}

footer {
    background-color: #E6E6FA;
    color: #FF6347;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    text-align: center;
}

#tacocat {
    width: 375px;
}

/*Font Families*/

@font-face {
    font-family: feather-bold;
    src: url('fonts/feather-bold.woff2') format('woff2');
}

@font-face {
    font-family: nunito-regular;
    src: url('fonts/nunito-regular.ttf') format('truetype');
}
